*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to top right, #0077b6, #ffffff);
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px;
}

span{
	color: rgb(36, 175, 240);
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.bg-image{
	background: url(Media/clean.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 100vh;
	padding: 80px;
  }

main {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

.hero {
	background-image: url('Media/wash.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
}

.hero h2 {
	font-size: 3rem;
	margin-bottom: 20px;
}

.services {
	margin-top: 40px;
	text-align: center;
}

.services h2 {
	margin-bottom: 20px;
}

.services ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.services li {
	margin-right: 20px;
	font-size: 1.2rem;
	list-style: none;
}

.tiles{
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
  }

.service-tile{
	width:320px;
	height:350px;
 	margin:10px;
	padding:20px;
 	box-sizing: border-box;
 	background-color: white;
	border-radius: 1.2rem;
	background: rgb(36, 175, 240);
  }

.btn {
	background-color:rgb(36, 175, 240);
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	text-decoration: none;
	margin-top: 20px;
	display: inline-block;
}

.footer{
	padding: 25px;
	background-color: rgb(36, 175, 240);
	display: flex;
	justify-content: center;
	align-items: center;
}